snippet dbpy "Empty template for python module"
# %% encoding: utf-8

'''

Author: Daniil Bargman (daniil.bargman@gmail.com)

Module description: ${1: Module description}

(Note: "# %% " is used as a code block separator)

'''

# %% Dependencies
import $0


# %% ##########################################################################
endsnippet

snippet dblock "Code block separator for IPython when run in vim/tmux"

# %% $0
endsnippet
