snippet dbash "Find bash in user environment and add me as author"
#!/usr/bin/env bash
#
# ${1: Describe what this script is meant to do}
#
# Author: Daniil Bargman (daniil.bargman@gmail.com)
#
###############################################################################

# $0
endsnippet
