[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[A8B0B213B0B1E7C8]
row=1
col=0

[473df260-3f94-491e-8c66-679a2cec1ef5]
row=0
col=0

[Rubbish Bin]
row=2
col=0

[/]
row=3
col=0

[/home/daniilbargman]
row=4
col=0

